.custom-calendar .rbc-toolbar {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
  }
  .custom-calendar .rbc-toolbar .rbc-toolbar-label {
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
  }
  
  .custom-calendar .rbc-toolbar .rbc-toolbar-label {
    margin: 5px 0; /* Espacio entre los botones y la etiqueta de fecha */
  }