.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid  rgb(144, 145, 146);;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 10%;
}

.logo img{
    width: 45px;
    height: 45px;
}

.title {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    color: rgb(60, 64, 67);
    margin-left: 10px;
}

.items {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 95%;
  list-style: none;
  margin: 0; 
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.settings{
    display: flex;
    align-items: center;
    padding: 10px;
}

.settings img{
    width: 27px;
    height: 25px;
}